/* Devoir 2 du cours création de sites web - CSS */

body {
font-family: Arial, sans-serif;
line-height: 1.5;
background-color: rgb(240, 240, 220);
text-align: justify;
}
.image-sterlet {
max-width: 400px; /* taille moyenne */
display: block;
margin-left: 0; /* aligné à gauche */
margin-right: auto;
}
